{% extends 'base.html' %}

{% block title %}
iArticles
{% endblock %}

{% block style %}

{% endblock %}

{% block body %}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Free, unlimited articles...</h1>
        <p class="lead text-muted">Write unlimited and free articles here, let people interact with them and enjoy them!</p>
        <p>
          <a href="/articles" class="btn btn-primary my-2">To Articles!</a>
        </p>
      </div>
    </div>
</section>
{% endblock %}
